.fit {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    display: block;
}

header {
    background-color: #eee;
}

.jumbotron {
    max-height: 200px;
}
@media(min-width:768px) {
    .jumbotron {
        margin-left: 50px;
    }
}

.center {
    margin: 10px auto;
    width: 320px;}
}