.fit {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    display: block;
}

@media(max-width:768px) {
    .left-margin {
        margin-left: 50px;
    }
}
@media(max-width:625px) {
    .left-margin {
        margin-left: 25px;
    }
}

header {
    background-color: #eee;
}

body {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    max-height: 200px;
}
@media(min-width:768px) {
    .jumbotron {
        margin-left: 50px;
    }
}

.center {
    margin: 10px auto;
    width: 320px;}
}

.center-text {
    margin: auto;
    width: 80%;
    padding: 10px;
}
@media(min-width:768px) {
    .center-text {
        margin: auto;
        width: 75%;
        padding: 10px;
    }
}
