{% extends "_layouts/base.html" %}

{% block page_title %}Noted - Home{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block css %}
<style>
a { cursor: pointer; }
</style>
{% endblock %}

{% block jumbotron_name %}{{ upload.file_name }}{% endblock %}

{% block content %}

{{ found|safe }}

<p> {{ something }} </p>

<hr>
<h3>Options</h3>
<br>
<div class="container">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Keyword Options</div>
                        <div class="panel-body">
                            <p><b>Paragraph Mode</b><br>Prints out the contents of each paragraph that keyword is found in.</p>
                            <p><b>Sentence Mode</b><br>Prints out sentences where the keyword is found.</p>
                            <p><b>Smart Paragraph Mode</b><br>Prints out sentences where keyword is found, and paragraphs where keyword is in topic sentence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="id_file_name" class="col-sm-2 col-form-label">Keyword:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Options<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a>Paragraph</a></li>
                            <li><a>Sentence</a></li>
                            <li><a>Smart Paragraph</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>


autosum - first and last line of every P (button)


revert button

readtext
{% endblock %}

{% block js %}
<script>
    $(".dropdown-menu").on('click', 'li a', function(){
        $(".btn:first-child").text($(this).text());
        $(".btn:first-child").val($(this).text());
    });
</script>

{% endblock %}
