{% extends "_layouts/base.html" %}

{% block page_title %}Home{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block jumbotron_name %}Noted{% endblock %}
{% block jumbotron_description %}Upload your files and hear them aloud.{% endblock %}

{% block content %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onClick="location.href='/noted/list/'">List Files</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onClick="location.href='/noted/upload/'">Upload a File</button>
        </div>
    </div>
{% endblock %}
