{% extends "_layouts/base.html" %}

{% block page_title %}Home{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block css %}
<style>
tr { cursor: pointer; }
</style>
{% endblock %}

{% block jumbotron_name %}List{% endblock %}
{% block jumbotron_description %}All the currently uploaded files.{% endblock %}

{% block content %}
    <div class="list-group">
        {% for upload in uploads_list %}
            <a class="list-group-item" href="{% url 'noted:detail' upload.id %}">
                {{ upload.file_name }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock js %}
