{% extends "_layouts/base.html" %}

{% block page_title %}Home{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block header %}
    <div class="jumbotron">
        <h1>Noted</h1>
        <p><h2><small>Upload your files and hear them aloud.</small></h2></p>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-hover" class='clickable-row' data-href='url://'>
        {% if uploads_list %}
            {% for upload in uploads_list %}
                <tr class='clickable-row' data-href="{% url 'noted:detail' upload.id %}">
                    <th>{{ upload.file_name }}</th>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}

{% block js %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock js %}
