{% extends "_layouts/base.html" %}

{% block page_title %}Home{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block css %}
<style>
tr { cursor: pointer; }
</style>
{% endblock %}

{% block jumbotron_name %}List{% endblock %}
{% block jumbotron_description %}All the currently uploaded files.{% endblock %}

{% block content %}
    <table class="table table-hover" class="clickable-row" data-href="url://">
        {% if uploads_list %}
            {% for upload in uploads_list %}
                <tr onClick="location.href='{% url 'noted:detail' upload.id %}'">
                    <th>{{ upload.file_name }}</th>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}

{% block js %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock js %}
