{% extends "_layouts/base.html" %}

{% block page_title %}Upload{% endblock %}
{% block page_class %}upload{% endblock %}

{% block jumbotron_name %}Upload{% endblock %}
{% block jumbotron_description %}Upload a PDF file.{% endblock %}

{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group row">
            <label for="id_file_name" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                <input id="id_file_name" maxlength="200" name="file_name" type="text" class="form-control" placeholder="Enter a name for your file" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="id_file_contents" class="col-sm-2 col-form-label">Contents:</label>
            <div class="col-sm-10">
                <input id="id_file_contents" name="file_contents" type="file" class="filestyle" data-icon="false"data-buttonText="Upload a PDF" data-buttonBefore="true">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
